.App{
	background: #eee;
	transition: 0.1s all linear;
}

.comment{
	margin-bottom: 5px;
	position: relative;
}

.align-right{
	display: flex;
	justify-content: flex-end;
}

.post-details{
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 84px)
}

.post-details .post {
	width: 60vw;
	margin-bottom: 5vh;
}

.comment-timestamp {
	position: absolute;
  top: 15px;
  right: 15px;
  color: #aaa;
  font-weight: bold;
}