.App{
	background: #eee;
	transition: 0.1s all linear;
}

.comment{
	margin-bottom: 5px;
	position: relative;
}

.align-right{
	display: flex;
	justify-content: flex-end;
}

.post-details{
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 84px)
}

.post-details .post {
	width: 60vw;
	margin-bottom: 5vh;
}

.comment-timestamp {
  color: #aaa;
  font-weight: bold;
  padding-left: 20px;
}

.category-chip{
	margin-left: 2vh;
}

.alert {
	background-color: #ff9800;
	padding: 5px;
	border-radius: 6px;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.alert span {
	margin-left: 10px;
}

.post-actions,
.comment-actions{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.votes-component{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.votes-wrapper {
	width: 30vh;
}

.card-top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card-top-content {
	width: 85%;
	flex-wrap: wrap;
	font-family: Roboto, sans-serif;
}

.card-top-content .title {
	font-weight: bold;
}

.card-top-content .text {
	color: rgba(0,0,0,0.54);
}