.post-list{
	display: flex;
	flex-direction: column;
	justify-content: 	center;
	align-items: center;
	padding: 5vh 0;
	padding: 84px 0 0 256px;
}

.post-list .post{
	width: 60vw;
	margin-bottom: 5vh;
}